<!DOCTYPE html>
<html lang="en">
{{> fragments/html_header}}

<body>

    {{> fragments/top_bar}}

    {{> fragments/banner}}

    {{> fragments/no_content_message}}

    <h1 class="list-title">Trending Movies</h1>
    <div class="trending-container">
        {{> fragments/movie_cards_container}}
        {{^movies}}
            <p class="text-center">No movies found for this search.</p>
        {{/movies}}
    </div>
</body>

</html>