<!DOCTYPE html>
<html lang="en">
{{> fragments/html_header}}

<body>

    {{> fragments/top_bar}}

    {{> fragments/error_message}}

    {{#movie}}
        {{> fragments/movie}}
    {{/movie}}
    {{^movie}}
        <p class="text-center">No movie found with the given id.</p>
    {{/movie}}

</body>

</html>