<!DOCTYPE html>
<html lang="en">
{{> fragments/html_header}}

<body>

    {{> fragments/top_bar}}

    {{> fragments/error_message}}

    {{#movie}}
        {{> fragments/movie}}
    {{/movie}}

</body>

</html>