<!DOCTYPE html>
<html lang="en">
{{> fragments/html_header}}

<body>

    {{> fragments/top_bar}}

    <h1 class="list-title">Results Matching "{{search_query}}"</h1>

    {{> fragments/movie_cards_container}}

</body>
</html>
