{{#reviews}}
    <div class="profile-review-container">
        {{#movie}}
            {{> fragments/movie_card}}
        {{/movie}}
        <div class="profile-review">
            {{> fragments/review}}
        </div>
    </div>
{{/reviews}}