<div class="review-form">
    <form method="post" action="/movies/{{movieId}}/reviews/create-review">
        <div class="review-form-stars">
            <label>Rating: </label>
            
            <div class="star-rating">
                <input type="radio" id="star5" name="rating" value="5" required /><label for="star5" title="5 stars"></label>
                <input type="radio" id="star4half" name="rating" value="4.5" /><label class="half" for="star4half"></label>
                <input type="radio" id="star4" name="rating" value="4" /><label for="star4"></label>
                <input type="radio" id="star3half" name="rating" value="3.5" /><label class="half" for="star3half"></label>
                <input type="radio" id="star3" name="rating" value="3" /><label for="star3"></label>
                <input type="radio" id="star2half" name="rating" value="2.5" /><label class="half" for="star2half"></label>
                <input type="radio" id="star2" name="rating" value="2" /><label for="star2"></label>
                <input type="radio" id="star1half" name="rating" value="1.5" /><label class="half" for="star1half"></label>
                <input type="radio" id="star1" name="rating" value="1" /><label class="whole fa fa-star" for="star1"></label>
            </div>

        </div>
        <textarea name="content" class="framed" placeholder="Express your thoughts about this movie!"></textarea>
        <button type="submit" class="action-button">Make Post</button>
    </form>
</div>