<div class="pagination">
  {{#prev_page}}
    <a href="{{baseUrl}}page={{prev_page}}">&laquo;</a>
  {{/prev_page}}

  {{#pagination}}
    {{#isSeparator}}
      <span class="dots">...</span>
    {{/isSeparator}}
    
    {{^isSeparator}}
      <a href="{{baseUrl}}page={{pageNum}}" class="{{#isCurrent}}active{{/isCurrent}}">
        {{pageNum}}
      </a>
    {{/isSeparator}}
  {{/pagination}}

  {{#next_page}}
    <a href="{{baseUrl}}page={{next_page}}">&raquo;</a>
  {{/next_page}}
</div>