<div class="reviews-container">
    <h3>{{user_id}}</h3>
    <div class="rating-date">
        <div class="star-rating">
            {{#starIcons}}
                <i class="fa {{.}} checked"></i>
            {{/starIcons}}
            <span class="rating-number">{{ratingValue}}</span>
        </div>
        <p>{{postDate}}</p>
    </div>
    <p>{{content}}</p>
</div>