<div class="review-card">
    <div class="review-header">
        <div class="review-user-info">
            <h3>{{userName}}</h3>
            <div class="star-rating existing-review">
                {{#reviewStars}}
                    <i class="fa {{.}} checked"></i>
                {{/reviewStars}}
                <span class="rating-number">{{rating}}</span>
            </div>
        </div>
        <p class="review-date">{{postDate}}</p>
    </div>
    <p class="review-content">{{content}}</p>
</div>