<form action="/recommendations" method="get" class="browse-form framed">
    
    <div class="filter-group">
        <label>Sort Results</label>
        <div class="sort-controls">
            <select name="sortBy" class="short-input">
                <option value="">Sort By</option>
                <option value="popularity" {{#isPopularity}}selected{{/isPopularity}}>Popularity</option>
                <option value="rating" {{#isRating}}selected{{/isRating}}>Rating</option>
                <option value="runtime" {{#isRuntime}}selected{{/isRuntime}}>Runtime</option>
                <option value="revenue" {{#isRevenue}}selected{{/isRevenue}}>Revenue</option>
                <option value="releaseDate" {{#isReleaseDate}}selected{{/isReleaseDate}}>Release Date</option>
            </select>
            
            {{#isAsc}}
                <input type="hidden" name="sortByOrder" value="desc">
                <button type="submit" class="sort-btn action-button"><i class="fa fa-sort-amount-desc"></i></button>
            {{/isAsc}}
            {{^isAsc}}
                <input type="hidden" name="sortByOrder" value="asc">
                <button type="submit" class="sort-btn action-button"><i class="fa fa-sort-amount-asc"></i></button>
            {{/isAsc}}
        </div>
    </div>

    <div class="filter-group">
        <label for="minRating">Minimum Rating</label>
        <input type="number" id="minRating" name="minRating" min="1" max="5" step="0.5" class="short-input" placeholder="1-5" {{#minRating}}value={{minRating}}{{/minRating}}>
    </div>

    <div class="filter-group">
        <label>Genres</label>
        <div class="cloud">
            <input type="checkbox" name="genre" value="action" id="action" {{#isAction}}checked{{/isAction}} hidden>
            <label for="action" class="genre-input-tag">Action</label>

            <input type="checkbox" name="genre" value="adventure" id="adventure" {{#isAdventure}}checked{{/isAdventure}} hidden>
            <label for="adventure" class="genre-input-tag">Adventure</label>

            <input type="checkbox" name="genre" value="animation" id="animation" {{#isAnimation}}checked{{/isAnimation}} hidden>
            <label for="animation" class="genre-input-tag">Animation</label>

            <input type="checkbox" name="genre" value="comedy" id="comedy" {{#isComedy}}checked{{/isComedy}} hidden>
            <label for="comedy" class="genre-input-tag">Comedy</label>

            <input type="checkbox" name="genre" value="crime" id="crime" {{#isCrime}}checked{{/isCrime}} hidden>
            <label for="crime" class="genre-input-tag">Crime</label>

            <input type="checkbox" name="genre" value="documentary" id="doc" {{#isDoc}}checked{{/isDoc}} hidden>
            <label for="doc" class="genre-input-tag">Documentary</label>

            <input type="checkbox" name="genre" value="drama" id="drama" {{#isDrama}}checked{{/isDrama}} hidden>
            <label for="drama" class="genre-input-tag">Drama</label>

            <input type="checkbox" name="genre" value="family" id="family" {{#isFamily}}checked{{/isFamily}} hidden>
            <label for="family" class="genre-input-tag">Family</label>

            <input type="checkbox" name="genre" value="fantasy" id="fantasy" {{#isFantasy}}checked{{/isFantasy}} hidden>
            <label for="fantasy" class="genre-input-tag">Fantasy</label>

            <input type="checkbox" name="genre" value="history" id="history" {{#isHistory}}checked{{/isHistory}} hidden>
            <label for="history" class="genre-input-tag">History</label>

            <input type="checkbox" name="genre" value="horror" id="horror" {{#isHorror}}checked{{/isHorror}} hidden>
            <label for="horror" class="genre-input-tag">Horror</label>

            <input type="checkbox" name="genre" value="music" id="music" {{#isMusic}}checked{{/isMusic}} hidden>
            <label for="music" class="genre-input-tag">Music</label>

            <input type="checkbox" name="genre" value="mystery" id="mystery" {{#isMystery}}checked{{/isMystery}} hidden>
            <label for="mystery" class="genre-input-tag">Mystery</label>

            <input type="checkbox" name="genre" value="romance" id="romance" {{#isRomance}}checked{{/isRomance}} hidden>
            <label for="romance" class="genre-input-tag">Romance</label>

            <input type="checkbox" name="genre" value="sci-fi" id="scifi" {{#isScifi}}checked{{/isScifi}} hidden>
            <label for="scifi" class="genre-input-tag">Science Fiction</label>

            <input type="checkbox" name="genre" value="thriller" id="thriller" {{#isThriller}}checked{{/isThriller}} hidden>
            <label for="thriller" class="genre-input-tag">Thriller</label>

            <input type="checkbox" name="genre" value="tv-movie" id="tv" {{#isTv-movie}}checked{{/isTv-movie}} hidden>
            <label for="tv" class="genre-input-tag">TV Movie</label>

            <input type="checkbox" name="genre" value="war" id="war" {{#isWar}}checked{{/isWar}} hidden>
            <label for="war" class="genre-input-tag">War</label>

            <input type="checkbox" name="genre" value="western" id="western" {{#isWestern}}checked{{/isWestern}} hidden>
            <label for="western" class="genre-input-tag">Western</label>
        </div>
    </div>

    <div class="filter-group">
        <label for="prodCompany">Production Company</label>
        <input name="prodCompany" id="prodCompany" class="short-input" type="text" placeholder="e.g. Disney" {{#prodCompany}}value="{{prodCompany}}" {{/prodCompany}}>
    </div>

    <button type="submit" class="action-button full-width">Apply Filters</button>
</form>