<div class="navbar">
    <nav>
        <a href="/"><img src="/images/CineCache_black.png" alt="CineCache Logo"></a>
        <a href="/recommendations"><i class="fa fa-magic"></i><span>Recommendations</span></a>
        <a href="/profile"><i class="fa fa-user"></i><span>Profile</span></a>
    </nav>
    <div class="nav-search-logout">
        <form action="/search" method="get">
            <i class="fa fa-search search-icon"></i>
            <input type="text" name="query" class="search-input" placeholder="Search titles...">        
        </form>
        <a href="/login">Logout</a>
    </div>
</div>