<div class="navbar">
    <nav>
        <a href="/"><img src="/images/CineCache_black.png" alt="CineCache Logo"></a>
        <a href="/recommendations">Recommendations</a>
        <a href="/profile">Profile</a>
    </nav>
    <div class="nav-search-logout">
        <form action="/search" method="get">
            <input name="query" class="short-input" type="text" placeholder="Search titles">
        </form>
        <a href="/login">Logout</a>
    </div>
</div>