<!DOCTYPE html>
<html lang="en">
{{> fragments/html_header}}

<body>

    {{> fragments/top_bar}}

    {{> fragments/no_content_message}}

    <div class="search_and_results_container">
        {{> fragments/movies_container}}
        <div class="sort_filter_container">
            {{>fragments/sort_filter}}
        </div>
    </div>

</body>

</html>