<!DOCTYPE html>
<html lang="en">
{{> fragments/html_header}}

<body>

    {{> fragments/top_bar}}


    {{> fragments/no_content_message}}

    <h1 class="list-title">Results Matching "{{#search_query}}"</h1>
    {{> fragments/movies_container}}

</body>

</html>